<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>	
	<configSections>
		 <section name="RewriterConfig" requirePermission="false" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler,URLRewriter" />
	</configSections>
	<connectionStrings>
    <add name="WebConnectionString" providerName="System.Data.MySqlClient" connectionString="***********" />
  </connectionStrings>
	<RewriterConfig>
  <Rules>
    <RewriterRule>
      <LookFor>~/ui/([0-9]*)/([0-9]*).html</LookFor>
      <SendTo>~/ui/*.aspx</SendTo>
    </RewriterRule>
  </Rules>
</RewriterConfig>
  <system.web>	 
	<httpHandlers>
  <add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
  <add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
</httpHandlers>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
	<appSettings>
		<add key="safeParameters" value="OrderID-int32,CustomerEmail-email,ShippingZipcode-USzip" />
		<add key ="MailAddress" value="**********@qq.com"/>
		<add key="MailHost" value="smtp.qq.com"/>
		<add key="Credentials" value="*********"/>
		<add key="HttpRowCount" value="100" />
		<add key="HttpTime" value="10" />
		<add key="IP_ADDRESS_BLACK" value="10.|192.168|127.16" />
	</appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
    <system.webServer>
		 <validation validateIntegratedModeConfiguration="false"/>
        <defaultDocument>
            <files>
                <add value="ui/index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
